.main_wrapper {
  background-size: cover;
  object-fit: cover;
  background-position: center;
  background-repeat: repeat-y;
  display: flex;
  margin-top: 70px;
  flex-basis: 800px;
  flex-wrap: wrap;
  gap: 2rem;
  min-height: calc(100vh - 70px);
  align-items: center;
  justify-content: center;
}

.events_list_item {
  margin: 7rem 0;
}
