.main_wrapper {
  background-size: cover;
  object-fit: cover;
  background-position: center;
  background-repeat: repeat-y;
  margin-top: 70px;
  flex-basis: 800px;
  flex-wrap: wrap;
  gap: 2rem;
  min-height: calc(100vh - 70px);
  align-items: center;
  justify-content: center;
}

.filterbox {
  margin-top: 2rem;
  padding-top: 2rem;
  margin: 0 auto;
  max-width: max-content;
}

.events_list_item {
  margin: 7rem 0;
}
