.event {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 'info image';
  align-items: center;
  max-width: 900px;
  margin: 1rem auto;
  background: #000;
  color: #000;
  padding: 0.5rem;
  box-shadow: 0 8px 8px -4px;
}

.event_info {
  grid-area: info;
  background-color: #50d450;
  padding: 1rem;
  box-shadow: 0 10px 30px #000;
}

.event_logistics {
  margin-bottom: 1rem;
}

.event_list {
  flex-wrap: wrap;
}

.event_list_item:not(:last-of-type) {
  margin-right: 1rem;
}

.event_heading {
  margin-bottom: 1rem;
  text-shadow: 1px 1px #000;
}

.event_date {
  font-size: 1.3rem;
  color: #000;
}

.event_description {
  margin-top: 2rem;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.65);
  margin-bottom: 3rem;
}

.event_image_container {
  grid-area: image;
  /* height: 90%; */
}

.event_image {
  width: 100%;
  height: 100%;
  min-height: 18rem;
  object-fit: cover;
  border-bottom: 1px solid #50d450;
  border-top: 1px solid #50d450;
  border: 1px solid #50d450;
}

.event_button {
  position: relative;
  color: #000;
  padding: 0.5rem;
  background: transparent;
  text-decoration: none;
  border: 2px solid #000;
  transition: all 500ms linear, ease 500ms;
}

.event_button::after {
  content: '';
  background: #000;
  position: absolute;
  text-decoration: none;
  width: 0;
  z-index: 1;
  height: 3px;
  left: 0;
  bottom: 0;
  transition: width 1s linear, ease 1s;
}

.event_button:hover,
.event_button:focus {
  color: #000;
}

.event_button:hover::after,
.event_button:focus::after,
.event_button:active::after {
  width: 100%;
}

@media (max-width: 700px) {
  .event {
    max-width: auto;
    grid-template-columns: 1fr;
    align-items: end;
    grid-template-areas:
      'image'
      'info';
  }

  .event_info {
    order: 1;
  }
}

@media (min-width: 700px) {
  .event_info.order_second {
    grid-area: image;
  }

  .event_image_container.order_first {
    grid-area: info;
  }
}
