.header {
  background-color: #000;
  padding: 0 2rem;
}

.row {
  display: flex;
}

.nav {
  width: 100%;
}

.logo {
  height: 70px;
}

.nav_list {
  list-style-type: none;
}

.nav_list_item {
  margin: 1rem;
}

.nav_list_item:first-of-type {
  margin: 1rem 1rem 1rem 2rem;
}

.nav_link {
  text-decoration: none;
  text-transform: capitalize;
  color: #fff;
  padding: 0.5rem;
  border: 1px solid #000;
  transition: all 500ms linear, ease 500ms;
}

.active {
  color: #50d450;
  border: 1px solid #50d450;
}

.nav_link:hover,
.nav_link:focus {
  color: #50d450;
  border: 1px solid #50d450;
}

.hamburger {
  position: fixed;
  opacity: 0;
  height: 0;
  top: 0;
  right: 0;
  min-width: 250px;
  transform: translateX(250px);
  height: calc(100vh);
  padding: 1.8rem 0;
  background-color: #000;
  justify-content: center;
  overflow: hidden;
  transition: all 600ms ease-in;
}

.hamburger.open {
  transform: translateX(0);
  opacity: 1;
}

.hamburger_button {
  width: 50px;
  background-color: #000;
  color: #50d450;
}

.hamburger_button:active {
  color: #fff;
}
