.hero_section {
  display: grid;
  place-content: center;
  height: 50vh;
  background-size: cover;
  background-position: center;
}

.main_section {
  display: grid;
  place-content: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.heading {
  font-size: 4rem;
  color: #fff;
}

.wrapper {
  max-width: 70rem;
  margin: 0 auto;
}

.contact_info {
  font-size: 1.7rem;
  color: #fff;
  text-transform: uppercase;
}

.contact_info:not(:last-of-type) {
  margin-bottom: 0rem;
}

.form {
  outline: none;
  border: none;
}

.textarea {
  position: relative;
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 1rem;
  margin-bottom: 0.4rem;
  outline: 1px solid #0de80e;
  border: 2px solid #000;
  transition: all 500ms linear, ease 500ms;
  box-shadow: 0 14px 28px rgba(10, 78, 25, 0.25),
    0 10px 10px rgba(7, 63, 22, 0.22);
}


.textarea:hover,
.textarea:focus {
  border: 2px solid #0de80e;
}

.inputs_wrapper {
  width: 100%;
  gap: 0 1rem;
}

.input {
  padding: 1rem;
  width: 50%;
  background-color: #000;
  box-shadow: none;
  color: #fff;
  outline: 1px solid #0de80e;
  border: 2px solid #000;
  box-shadow: 0 14px 28px rgba(10, 78, 25, 0.25),
    0 10px 10px rgba(7, 63, 22, 0.22);
  transition: border 500ms linear, ease 500ms;
}

.input:hover,
.input:focus {
  border: 2px solid #0de80e;
}

.submit_button {
  position: relative;
  width: 100%;
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  background-color: #0de80e;
  color: #000;
  outline: none;
  border: 1px solid #000;
}

.submit_button::after {
  content: "";
  background-color: rgba(18, 24, 20, 0.15);
  position: absolute;
  width: 0;
  height: 100%;
  left: 0;
  top: 0;
  transition: width 1s linear, ease 1s;
}

.submit_button:hover::after,
.submit_button:focus::after,
.submit_button:active::after {
  width: 100%;
}

/* .submit_button:hover,
.submit_button:focus {
  background-color: #0bc20b;
} */
