.hero_section {
  padding-top: 4.375rem;
  /* border: 1px solid magenta; */
}

.carousel_image {
  width: 100%;
  object-fit: cover;
}

.carousel_caption {
  position: absolute;
  /* bottom: 40vh; */
  top: 0;
}

.image_large_screen {
  height: calc(100vh - 70px);
}

.image_small_screen {
  height: calc(100vh - 140px);
}

.next_icon,
.prev_icon {
  transition: transform 300ms ease-in-out;
}

.next_icon:hover {
  transform: translateX(3px);
}

.prev_icon:hover {
  transform: translateX(-3px);
}

.rotated_text {
  color: #50d450;
  position: absolute;
  bottom: 30px;
  z-index: 8;
  left: 50%;
  transform: translateX(-50%) rotate(-90deg);
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 700;
  /* border: 1px solid magenta; */
}
