@import url('https://fonts.googleapis.com/css2?family=Exo:wght@700&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-color: #000;
  color: #fff;
  font-family: 'Exo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* @media (max-width: 800px) {
  body {
    padding-bottom: 75px;
  }
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Change the background in autofill text box */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #000 inset !important;
  box-shadow: 0 0 0 30px #000 inset !important;
}

/*Change text in autofill textbox*/
input:-webkit-autofill {
  -webkit-text-fill-color: white !important;
}

/* FlexBox */

.row_f {
  display: flex;
}

.column_f {
  display: flex;
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.space-evenly {
  justify-content: space-evenly;
}

.flex-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

/* Button */
.button {
  outline: none;
  border: none;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #000;
}

.link {
  display: inline-block;
  text-decoration: none;
  margin: 0.5rem 0;
}

.link:hover,
.link:focus {
  color: #50d450;
}

.border_bottom {
  position: relative;
  color: #50d450;
  padding: 0.5rem;
  background: transparent;
  border: 1px solid #50d450;
  transition: all 500ms linear, ease 500ms;
}

/* .button_dark:hover,
.button_dark:focus {
  color: #fff;
  border: 1px solid #fff;
} */

.border_bottom::after {
  content: '';
  background: #50d450;
  position: absolute;
  width: 0;
  z-index: 1;
  height: 3px;
  left: 0;
  bottom: 0;
  transition: width 1s linear, ease 1s;
}

.border_bottom:hover::after,
.border_bottom:focus::after,
.border_bottom:active::after {
  width: 100%;
}

.green {
  color: #50d450;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (max-width: 700px) {
  :root {
    font-size: 14px;
  }
}

/* Alerts */
.success {
  color: #20a020;
}

.error {
  color: #a02020;
}

.alert {
  max-width: 300px !important;
}

.alerts-info {
  color: #202080;
  background-color: #e0e0ff;
}

.alerts-validation {
  margin: 0;
  font-size: 0.8rem;
  color: #a02020;
  background-color: transparent;
}

.alerts-danger {
  color: #000;
  background-color: #a02020;
}

.alerts-success {
  color: #000;
  background-color: #20a020;
}

/* Spinner */
.spinner {
  color: #000;
  text-align: center;
}
