*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Exo", sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* FlexBox */

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.row.space-between,
.column.space-between {
  justify-content: space-between;
}

.row.space-around,
.column.space-around {
  justify-content: space-around;
}

.row.space-evenly,
.column.space-evenly {
  justify-content: space-evenly;
}

.row.flex-end,
.column.flex-end {
  justify-content: flex-end;
}

.row.justify-center,
.column.justify-center {
  justify-content: center;
}

.row.align-center,
.column.align-center {
  align-items: center;
}

/* Button */
.button {
  outline: none;
  border: none;
  cursor: pointer;
}

/* Header */
